html, body, #map {
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: sans-serif;
}

.ol-popup {
    position: absolute;
    background-color: white;
    box-shadow: 0 1px 4px rgba(0,0,0,0.2);
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #cccccc;
    bottom: 12px;
    left: -50px;
}

.ol-popup::after, .ol-popup::before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.ol-popup::after {
    border-top-color: white;
    border-width: 10px;
    left: 48px;
    margin-left: -10px;
}
.ol-popup::before {
    border-top-color: #cccccc;
    border-width: 11px;
    left: 48px;
    margin-left: -11px;
}

.ol-popup-bottombar {
    align-items: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 10px;
}

.ol-popup-icon {
    font-size: 14pt;
    text-decoration: none;
    color: #000;
}

.ol-popup-closer {
    position: absolute;
    top: 0px;
    right: 4px;
}
.ol-popup-closer::after {
    content: "✖";
}

.grid-right {
    text-align: right;
}

/* content */
#popup-content, #popup-content-edit {
    max-height: 40vmin;
    height: max-content;
    min-width: 10vmin;
    max-width: 40vmin;
    width: max-content;
    overflow-y: auto;
    overflow-x: hidden;
}

#title {
    overflow-x: hidden;
    font-size: large;
    font-weight: bold;
}
#descr {
    overflow-x: hidden;
    overflow-y: hidden;
    width: 100%;
}

#title-edit {
    font-family: sans-serif;
    overflow-x: hidden;
    display: inline-block;
    font-size: large;
    font-weight: bold;
    width: 40vmin;
    border: none;
    resize: none;
}
#descr-edit {
    font-family: sans-serif;
    height: max-content;
    width: 40vmin;
    height: 3.5em;
    border: none;
    resize: none;
}

/* Scrollbar */
* {
    scrollbar-width: thin;
}
*::-webkit-scrollbar {
    width: 12px;
}
*::-webkit-scrollbar-track {
    background: gray;
}
*::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 20px;
    border: 3px solid gray;
}